@import "./_variables"
@import "../../node_modules/bootstrap/scss/bootstrap"
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap')
.body
    // background-color: $dark
    background-color: $dark
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%67598b' fill-opacity='0.29'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E")
    color: $light
    // font-family: 'Lora', serif
    font-family: 'Nunito', sans-serif
    display: flex
    flex-direction: column
    min-height: 100vh

header
    backdrop-filter: blur(4px)
    // background: $secondary
    border-bottom: 0.5px solid $border-color
    
main
    flex-grow: 1
    display: flex
    flex-direction: column
    .container-fluid
        flex-grow: 1
        // background-color: $light-salmone
        display: flex
        flex-direction: column
        justify-content: center
        .row
            // background: $green-crayola
            .col-12
                display: flex
                align-items: center
                justify-content: center

footer
    backdrop-filter: blur(4px)
    // background: $secondary
    border-top: 0.5px solid $border-color
    margin-top: auto
    div
        div
            display: flex
            justify-content: center
            p
                margin-block: auto

button, .btn
    // font-family: 'Rubik', sans-serif
    // font-weight: 700
    &:hover:not(.btn-home)
        opacity: 0.8

.card
    background: transparent
    border: 1px solid $border-color
    &-header
        color: $light

.card.question
    background: $card-body-color
    label, p, legend, h3, h4, h6
        color: black

.category
    color: $light
    font-weight: 400
    em
        font-weight: 600

.question
    background: $light
    padding: 10px 10px 0 10px

.trivial
    font-width: 700
    background: $trivial
    background-clip: text
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.btn-primary
    background:$submit-color
    color: $dark
    border-color: $submit-color
    &:hover
        background: $submit-color
        color: $dark
        border-color: $submit-color
        opacity: 0.8

.btn-outline-primary
    background: transparent
    color: $submit-color
    border-color: $submit-color
    &:hover
        background: $submit-color
        border-color: $submit-color
        color: $dark

.btn.btn-home
    background: $trivial
    background-clip: text
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    color: $light
    font-weight: 800 
    padding: 30px
    font-size: 30px
    position: relative
    border: 1px solid $light
    z-index: 10
    transition: 0.2s ease-in
    &:hover
      background-clip: border-box
      -webkit-background-clip: border-box
      -webkit-text-fill-color: $dark
      border-color: $dark

.answer
    padding-inline: 10px
    margin-left: 10px
    border-left: 3px solid $border-color

.not-correct
    background: $red
    color: $light
    padding: 2px 10px
    border-radius: 5px
    border: 1px solid $light-salmone

.correct
    background: $green-pigment
    color: $light
    padding-inline: 10px
    border-radius: 5px
    border-color: $green-crayola

.myAlert
    background: rgba(0, 0, 0, 0.8)
    backdrop-filter: blur(5px)
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    z-index: 100
    .alert
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        h4
            text-align: center
        button.btn
            font-weight: 400
        .btn-first
            margin-right: 10px
        @media screen and (max-width: 900px)
            button
                margin: 0 auto
                display: block
                justify-content: center
            .btn-first
                margin-bottom: 10px
                margin-inline: auto

.form-check
    label
        width: 100%
        margin-block: auto
        &:hover
            cursor: pointer
            background-color: $middle-blue-purple
            border-radius: 3px

@media screen and (	max-width: 575px)
    main
        .container-fluid
            padding: 0
            margin: 0
        .row 
            margin: 0
            padding: 0
            .col-12
                padding: 0
                margin-inline: 0
                width: 100%

h2
    text-align: center

h1, h2
    margin-block: 0
    
.score
    h4
        text-align: center
        // margin-block: 5px 0

.lost
    display: flex
    flex-direction: column


.alert
    justify-content: center
    align-items: center
    display: flex
    flex-direction: column

.card, .btn, .alert
    backdrop-filter: blur(4px)
    border-radius: 20px
    border-width: 0
